label {
  color:black;
}

.container {
  position: relative;
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: 40px;
}
.container img {
  position: absolute;
  right: -100px;
  bottom: 20px;
  width: 50%;
  height: 70%;
  opacity: 0.4;
}

.green {
  color: green;
}

.red {
  color: red;
}

.progress-bar-margin {
  margin: 35px;
}
.navbar-right {
  margin-right: 40px;
}